<ion-view view-title="Flea Locker">

  

  <ion-content class="padding">


    <h1>Sell Stuff <small>and gotta catch'em all</small></h1>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" show-pager="false" does-continue="true">
      <ion-slide>
        <div class="featuredOfferBox">
          <h1>Headphones</h1>
          <img class="featuredOfferImg" src="img/headphones.jpg">
          <div class="buyButton">
            <button class="button">
              Gonna catch'em
            </button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="featuredOfferBox">
          <h1>Nokia Mobile</h1>
          <img class="featuredOfferImg" src="img/nokia.png">
          <div class="buyButton">
            <button class="button">
              Gonna catch'em
            </button>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <h2>Recent Offers
      <button class="button"
                              ng-click="toggleSearch()"
                          >
        <i class="icon ion-search"></i></button></h2>

    <div id="searchBox"
         ng-show="buttonIsShown" class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>


    <div class="list card">
      <div class="item item-text-wrap">
        <h3>Headphones</h3>
      </div>
      <div class="item item-image">
        <img src="img/headphones.jpg">
      </div>
      <div class="item item-text-wrap">
        <p>Sennheiser. Great sound!</p>
        <small>2km from you</small>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-key"></i>
          Buy & unlock
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Ask questions
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <h3>Nokia Phone</h3>
      </div>
      <div class="item item-image">
        <img src="img/nokia.png">
      </div>
      <div class="item item-text-wrap">
        <p>Sennheiser. Great sound!</p>
        <small>1.5km from you</small>

      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-key"></i>
          Buy & unlock
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Ask questions
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
