<ion-view view-title="Flea Locker">

  

  <ion-content class="padding">


    <h1>Sell Stuff <small>and gotta catch'em all</small></h1>

    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="featuredOfferBox"><h1>BLUE</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="featuredOfferBox"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="featuredOfferBox"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
