<ion-view view-title="Sell">
    <ion-content class="padding">
        <h1>Great! <small>You successfully sold //thisItem.name//</small></h1>

        <h2>The code</h2>
        <div class="lockerCode">//item.lockerCode//</div>

        <h2>Your earned $$$</h2>

        <div class="map-wrapper">

            <div id="map"
                 data-tap-disabled="true"></div>

        </div>

        <p>
            Inside of <span style="font-style: italic">//item.location.latlng to an adress by google?!?//</span> at
            <span style="font-style: italic">//item.location.locationInBuilding//</span> in the locker <span style="font-style: italic">//item.location.lockeridentifier//</span>
        </p>

    </ion-content>
</ion-view>
