<ion-view view-title="Account">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-toggle">
        Enable one-click purchase
        <label class="toggle">
          <input type="checkbox" checked="checked">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>


    </ion-list>

    <form class="padding"
          id="checkout"
          method="post"
          action="http://lockerback.herokuapp.com/user/123/payment_method/new">
      <div id="payment-form"></div>
      <input
              ng-click="fakeBrainTree()"
             class="button button-block">
    </form>

  </ion-content>
</ion-view>
