<ion-view view-title="Sell">
    <ion-content class="padding">
        <button ng-click="getPhoto()" class="button button-block button-primary">Photo</button>
        <!--<img ng-src="data.ImageURI" id="smallimage">-->
        <img ng-src="{{lastPhoto}}" style="max-width: 100%; max-width: 100%;">


        <div class="list">
            <label class="item item-input">
                <input  type="text" placeholder="location"  ng-model="form.location">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Itemname" ng-model="form.itemname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Itemprice" ng-model="form.itemprice">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Lockercode" ng-model="form.lockercode">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Seller id" ng-model="form.sellerid">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Locker id" ng-model="form.lockerid">
            </label>
            <label class="item item-input">
                <textarea placeholder="Description" ng-model="form.description"></textarea>
            </label>

        </div>
        Pick a locker!
        <div class="map-wrapper">
            <div id="map" data-tap-disabled="true"></div>
        </div>


    </ion-content>
</ion-view>
