<ion-view view-title="Sell">
    <ion-content class="padding">
        <h1>Great! <small>You successfully bought <span style="font-style: italic">{{item.itemName}}</span>.</small></h1>

        <h2>This code will open you the door</h2>
        <div class="lockerCode">{{item.lockerCode}}</div>

        <h2>Where to find it?</h2>
        <p>
            Inside of <span style="font-style: italic">{{item.location[0]}}</span> at
            <span style="font-style: italic">{{item.location[1]}}</span> in the locker <span style="font-style: italic">{{item.location[2]}}</span>
        </p>
        <div class="map-wrapper" style="max-height: 200px;">

            <div id="map"
                 data-tap-disabled="true"></div>

        </div>
        


    </ion-content>
</ion-view>
