
<ion-view view-title="Flea Locker">

  

  <ion-content class="padding">


    <h1>Sell Stuff <small> gotta catch'em all</small></h1>

    <h2 class="featuredOffersHeader">Hot right now</h2>

    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" show-pager="false" does-continue="true">
      <!--<ion-slide>-->
        <!--<div class="featuredOfferBox">-->
          <!--<h1>Headphones</h1>-->
          <!--<img class="featuredOfferImg" src="img/headphones.jpg">-->
          <!--<div class="buyButton">-->
            <!--<button class="button">-->
              <!--Gonna catch'em-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</ion-slide>-->
      <!--<ion-slide>-->
        <!--<div class="featuredOfferBox">-->
          <!--<h1>Nokia Mobile</h1>-->
          <!--<img class="featuredOfferImg" src="img/nokia.png">-->
          <!--<div class="buyButton">-->
            <!--<button class="button">-->
              <!--Gonna catch'em-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</ion-slide>-->
      <!-- -->
        <ion-slide ng-repeat="item in items">
          <div class="featuredOfferBox">
            <h3>{{item.itemName}}</h3>
            <img class="featuredOfferImg" src="{{item.image}}">
            <div class="buyButton">
              <button class="button">
                Gonna catch'em
              </button>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>

    <h2>Recent Offers
      <button class="button"
                              ng-click="toggleSearch()"
                          >
        <i class="icon ion-search"></i></button></h2>

    <div id="searchBox"
         ng-show="buttonIsShown" class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>


    <div class="list card" ng-repeat="item in items">
      <div class="item item-text-wrap">
        <h3>{{item.itemName}}</h3>
      </div>
      <div class="item item-image">
        <img src="{{item.image}}">
      </div>
      <div class="item item-text-wrap">
        <p>{{item.description}}</p>
        <small>2km from you</small>

      </div>
      <div class="item tabs tabs-secondary tabs-icon-left"
              ng-hide="item.paymentBoxShown">
        <a class="tab-item" href="#"
                ng-click="togglePaymentBox(item)">
          <i class="icon ion-key"></i>
          Buy & unlock
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Ask questions
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
      <div class="PaymentBox"
           ng-show="item.paymentBoxShown">
        Pay that
      </div>
    </div>

  </ion-content>
</ion-view>
