*{
  font-family: "Helvetica Neue", "Roboto", sans-serif;

}

ion-view[view-title="Flea Locker"]{

}


#buyHead{
  background-image: url("/img/logo.png");
  background-repeat: no-repeat;
  //background-position-y: 80px;
}

@mixin clip-path($clip) {
  -webkit-clip-path: $clip;
  -moz-clip-path: $clip;
  -ms-clip-path: $clip;
  clip-path: $clip;
}

.featuredOffers{
  position: relative;
  top: 100px;
  height: 300px;
  //background-color: #fff8a1;
  //padding: 0&;
  //background-image: url(http://www.transparenttextures.com/patterns/green-gobbler.png);
}

.featuredOfferImg{
  //padding: 10px;
  max-height: inherit;
  max-width: 100%;
  //mask: ;
}

.lockerCode{
  background-color: gold;
  font-family: Consolas, Lucida Console, monospace;
  font-size: 16pt;
  text-align: left;
}

h2{
  font-size: 16pt;
}

#buyHead{

}

.featureSlideMask{
  overflow: hidden;
  max-height: 200px;

  @include clip-path(polygon(0 30%, 100% 0, 100% 70%, 0 100%));
}

.blur {-webkit-filter: blur(15px);}

.itemImageWrapper {
  transition: max-height 1s ease-in-out 0s;
  max-height: 100px;

}

.largeItemImage{
  transition: max-height 1s ease-in-out 0s;
  max-height: 500px;

}